@use "./../../assets/variables" as *;

.main {
  width: 98vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  margin-top: 40px;

  &__header {
    color: $purple;
    margin-bottom: 40px;
  }

  &__subheader {
    align-self: flex-start;
    color: $purple;
    margin-top: 100px;
    margin-left: 20px;
    font-size: 25px;
  }
}