@use "./../../assets/variables" as *;

.courses-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
}

.empty-text {
  font-size: 24px;
  font-weight: 600;
  color: $purple;
}